---
import type { GetStaticPaths } from 'astro';
import { actions } from 'astro:actions';
import MainLayout from '../../layouts/MainLayout.astro';

/**
 * This Astro page generates the error:
 * [ERROR] Astro.callAction is not a function
 */

export const getStaticPaths: GetStaticPaths = async () => {
  const { data } = await Astro.callAction(actions.getPlaces, {});

  if (!data) throw new Error('Error trying to get places');

  return data.map((place) => ({
    params: {
      id: place.id,
    },
    props: { place },
  }));
};

const { id } = Astro.params;
---

<MainLayout>
  <h1>Place ID: {id}</h1>
</MainLayout>
